<br>
<div class="jumbotron text-center">

  <h1 class="display-3">Demo App</h1>
  <p class="lead">It's not human nature to be great. It's human nature to survive, to be average and do what you have to do to get by. That is normal.
    When you have something good happen, it's the special people that can stay focused and keep paying attention to detail, working to get better and not being satisfied with what they have accomplished.
  </p>
  <p>
    <a class="btn btn-success" [routerLink]="['/register']">Register</a>
    <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
  </p>

</div>

<div class="row">
  <div class="col-md-4">
    <h2>Player Profiles</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
      nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>

  </div>
  <div class="col-md-4">
    <h2>Fixture</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
      nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>

  </div>
  <div class="col-md-4">
    <h2>Ladder</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
      semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
      risus.</p>

  </div>
</div>
