<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Demo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.loggedIn()" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.loggedIn()" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn()" (click)="onLogoutClick()" href="#">Logout</a>
      </li>
    </ul>

  </div>
</nav>
